{% extends 'index.html.twig' %}

{% block body %}
    {% for role in app.user.roles if role == 'ROLE_STUDENT' or role == 'ROLE_TEACHER'%}
        <div class="navbar_home">
            <div class="title">
                <h2 class="size_title">Votre espace Interpool</h2>
            </div>
            <div class="logout">
                <a href="{{ path('logout') }}">
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-log-out"></span> Log out
                    </button>
                </a>
            </div>
        </div>


        <div class="content_size">
            <div class="all_info">
                {% for user  in users if user.sortRole == 'ROLE_STUDENT'%}
                    <div class="info_part">
                        <h3>Toutes les matières</h3>
                        <div class="show_subject">
                            {% for toutes  in toutes_matieres %}
                                <span class="custom_subjects">
                                    {{ toutes }}
                                </span>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}

                <div class="info_part">
                    <h3>Mes matières</h3>
                    <div class="show_subject">
                        {% for user  in users if user.sortRole == 'ROLE_STUDENT'%}
                            {% for matiere  in usersujets %}
                                <span class="custom_subjects">
                                {{ matiere }}
                            </span>
                            {% endfor %}
                        {% endfor %}
                        {% for user  in users if user.sortRole == 'ROLE_TEACHER'%}
                            {% for matiere  in matieres %}
                                <span class="custom_subjects">
                                {{ matiere }}
                            </span>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>

                <!-- teacher = list student by subject
                student = list note by subject and commentary
                 -->
                <div class="info_part">
                    {% for user  in users if user.sortRole == 'ROLE_STUDENT'%}
                        <h3>Mes notes</h3>
                        <div class="show_subject">
                            <table class="blueTable">
                                <thead>
                                <tr>
                                    <th>Matière</th>
                                    <th>Note</th>
                                    <th>Commentaire</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for note  in notes %}
                                        <tr>
                                            <td>{{ note.matieres.nomMatiere }}</td>
                                            <td>{{ note.note}}</td>
                                            <td>{{ note.commentaire }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endfor %}

                    {% for user  in users if user.sortRole == 'ROLE_TEACHER'%}
                        <h3>Liste des étudiants inscrit a une matière</h3>
                        <div class="show_subject">
                            <table class="blueTable">
                                <thead>
                                <tr>
                                    <th>Matière</th>
                                    <th>Eleves</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for matiere  in matieres %}
                                    <tr>
                                        <td>{{ matiere }}</td>
                                        <td>
                                            {% for usersujet  in usersujets %}
                                            <ul>
                                                <li>
                                                    {{ usersujet.id }}
                                                </li>
                                            </ul>
                                            {% endfor %}
                                        </td>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endfor %}
                </div>

                {% for user  in users if user.sortRole == 'ROLE_STUDENT'%}
                    <div class="info_part average">
                        <h3 class="center_average">Ma moyenne</h3>
                        <div class="center_average show_average">
                            15
                    {#{% for average  in averageStudent %}
                                <span class="custom_subjects">
                                    {{ averageStudent }}
                                </span>
                            {% endfor %}#}
                        </div>
                    </div>
                {% endfor %}

            </div>

            <!-- teacher = list student by subject
                profile part
            -->
            {% for user  in users %}
                <div class="profile">
                    <div class="center_profile">
                        <img class="size_picture_profile" src="assets/image/profile.png">
                        <p>{{ user.username }}</p>
                        <p>{{user.email}}</p>
                        <p>{{ user.sortRole}}</p>
                    </div>

                    {% if is_granted('ROLE_TEACHER') %}
                        <div class="center_button_add">
                            <a class="add_note" href="{{ path('add') }}">
                                <button type="button" class="btn btn-success btn-sm">
                                    <span class="glyphicon glyphicon-plus"></span> Ajouter une note
                                </button>
                            </a>
                        </div>
                    {% endif %}

                    {% if user.sortRole == 'ROLE_STUDENT' %}
                        <div class="center_button_add">
                            <a class="add_note" href="{{ path('register_subject') }}">
                                <button type="button" class="btn btn-primary btn-sm">
                                    <span class="glyphicon glyphicon-plus"></span> S'inscrire à une matière
                                </button>
                            </a>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}

    {% if is_granted('ROLE_TEACHER') %}
        <div class="center_button_add button_admin">
            <a class="add_note" href="{{ path('admin') }}">
                <button type="button" class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-log-out"></span> Interface administrateur
                </button>
            </a>
        </div>
    {% endif %}

{% endblock %}
