{% extends 'index.html.twig' %}

{% block body %}

  {% for role in app.user.roles if role == 'ROLE_STUDENT' %}
    <h3 class="text-center">Votre espace Interpool</h3>

        <h2>Toutes les matières</h2>
        {% for toutes  in toutes_matieres %}
        <div>
            <div>
                {{ toutes }}
            <div>
        </div>
        {% endfor %}

        <h2>Mes matières</h2>
        {% for matiere  in matieres %}
        <div  >
            <div>
                 {{ matiere }}
            <div>
        </div>
        {% endfor %}

        <h2>Mes notes</h2>
        {% for note  in notes %}
        <div>
            <div>
                {{ note.note}}
                {{ note.commentaire }}
                {{ note.matieres.nomMatiere }}
            <div>
        </div>
        {% endfor %}



  {% endfor %}



  {% for role in app.user.roles if role == 'ROLE_TEACHER' %}
    <h3 class="text-center">Votre compte Professeurs</h3>


  {% endfor %}

<!--
  - Faire la partie pour les Etudiant, Profs, Administration

  - IsGranted pour check le type d'utilisateur connecter

  - Verification sécu si possible au niveau des liens ?


-->
{% endblock %}
