{% extends 'index.html.twig' %}

{% block body %}
    {% for role in app.user.roles if role == 'ROLE_STUDENT' or role == 'ROLE_TEACHER'%}
        <div class="navbar_home">
            <div class="title">
                <h2 class="size_title">Votre espace Interpool</h2>
            </div>
            <div class="logout">
                <a href="{{ path('logout') }}">
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-log-out"></span> Log out
                    </button>
                </a>
            </div>
        </div>

        <div class="content_size">
            <div class="all_info">
                <div class="info_part">
                    <h3>Toutes les matières</h3>
                    <div class="show_subject">
                        {% for toutes  in toutes_matieres %}
                            <span class="custom_subjects">
                                {{ toutes }}
                            </span>
                        {% endfor %}
                    </div>
                </div>

                <div class="info_part">
                    <h3>Mes matières</h3>
                    <div class="show_subject">
                        {% for matiere  in matieres %}
                            <span class="custom_subjects">
                                {{ matiere }}
                            </span>
                        {% endfor %}
                    </div>
                </div>

                <div class="info_part">
                    <h3>Mes notes</h3>
                    <div class="show_subject">
                        <table class="blueTable">
                            <thead>
                            <tr>
                                <th>Matière</th>
                                <th>Note</th>
                                <th>Commentaire</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for note  in notes %}
                                    <tr>
                                        <td>{{ note.matieres.nomMatiere }}</td>
                                        <td>{{ note.note}}</td>
                                        <td>{{ note.commentaire }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

            <div class="profile">
                <div class="center_profile">
                    <img class="size_picture_profile" src="assets/image/profile.png">
                    <p>Username</p>
                    <p>Email</p>
                    <p>Role</p>
                </div>

            </div>
        </div>


        {#
        <h3>Mes notes</h3>
        {% for note  in notes %}
        <div>
            <div>
                {{ note.note}}
                {{ note.commentaire }}
                {{ note.matieres.nomMatiere }}
            <div>
        </div>
        {% endfor %}
        #}


    {% endfor %}


    {#
    {% for role in app.user.roles if role == 'ROLE_TEACHER' %}
    <h3 class="text-center">Votre compte Professeurs</h3>

    <h2>Mes cours</h2>
    {% for matiere  in matieres_prof %}
    <div>
        <div>
            {{ matiere }}
        <div>
    </div>


    {% endfor %}

    <h2>Mettre une note</h2>


    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}


    {% endfor %}
    #}

<!--
  - Faire la partie pour les Etudiant, Profs, Administration

  - IsGranted pour check le type d'utilisateur connecter

  - Verification sécu si possible au niveau des liens ?


-->
{% endblock %}
